[user]
	name = Mark Hougaard Jensen
	email = mark@marks.dk
	signingkey = 6ED07CAED2F7C701
[color]
	ui = true
[github]
	user = marksdk
[push]
	default = simple
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[core]
	editor = code --wait
	pager = delta --plus-color="#1a5130" --minus-color="#900e0e" --theme='Dracula'
	excludesfile = /Users/marks/.gitignore_global
[interactive]
	diffFilter = delta --color-only
[url "ssh://git@heroku.com/"]
	insteadOf = https://git.heroku.com/
[alias]
	update = !git pull && git submodule update --init --recursive
	new = !git init && git symbolic-ref HEAD refs/heads/main
[commit]
	gpgsign = true
[gpg]
	program = gpg
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[pull]
	rebase = false
[init]
	defaultBranch = main
