[user]
	name = Mark Hougaard
	email = mark@hougaard.email
	signingkey = D42687F214D07A9F
[color]
	ui = true
[github]
	user = markhougaard
[push]
	default = simple
	followTags = true
	autoSetupRemote = true
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[core]
	editor = code --wait
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = /Users/marks/.gitignore_global
[interactive]
	diffFilter = diff-so-fancy --patch
[url "ssh://git@heroku.com/"]
	insteadOf = https://git.heroku.com/
[alias]
	update = !git pull && git submodule update --init --recursive
	new = !git init && git symbolic-ref HEAD refs/heads/main
[commit]
	gpgsign = true
[gpg]
	program = gpg
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[pull]
	rebase = false
[init]
	defaultBranch = main
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
